html,body {
	padding:0px !important;
}

body p, h2, h3, h4, h5, a, li {
	font-family: 'Josefin Sans', sans-serif;
}

.main {
	margin-top: 100px;
	width:350px;
	margin:0 auto;
	text-align:left;
}

.main p {
	font-size: 22px;
}

.main li {
	font-size: 18px;
}